<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/MapRegist.css">
    <style>
        button {
            border: none;
            outline: none;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="RegistArray">
        <a style="font-size : 30px; font-weight : bold; top : 10px;">신규 등록</a>
        <div class="RegistForm" style="margin-top : 50px;">
            <div class="RegistTitle" style="margin : 50px;">
                <a style="font-size : 25px; font-weight : bold; margin-bottom : 10px;">기본 정보</a> <a class="regist_sub" style="color : red; font-weight : bold;"> *필수 </a>
            </div>
            <form id="info" name="info">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="RegistBasicContent">
                    <label class="RegistLabel"> 매장명 </label>
                    <input type="text" id="storeName" name="storeName" class="RegistText"
                           placeholder="매장명을 작성해주세요." th:value="${placeOwner?.store == null ? '' : placeOwner.store}" >
                    <label class="RegistLabel"> 주소 </label>
                    <div>
                        <input type="text" id="address" name="address" style="width : 55%; padding : 6px; margin:5px;"
                               placeholder="주소" th:value="${placeOwner?.storeAddress == null ? '' : placeOwner.storeAddress.split('/')[0]}" readonly>
                        <input type="text" id="detailAddress" name="detailAddress"
                               style="width : 23%; padding : 6px; margin:5px;" placeholder="상세주소" th:value="${placeOwner?.storeAddress == null ? '' : placeOwner.storeAddress.split('/').length > 1 ? placeOwner.storeAddress.split('/')[1] : ''}">
                        <input type="button" style="width : 17%; padding : 6px;" onclick="address_execDaumPostcode()"
                               value="주소 검색"><br>
                        <div id="map" style="width:98%;height:300px;margin-top:10px; margin-bottom:10px;"></div>

                        <input type="hidden" id="latitude" name="latitude">
                        <input type="hidden" id="longitude" name="longitude" >
                    </div>
                    <label class="RegistLabel"> 전화번호 </label>
                    <input type="text" class="RegistText" id="phoneNum" name="phoneNum" maxlength="13"
                           oninput="hypenTel(this)" placeholder="대표전화번호를 작성해주세요." th:value="${placeOwner?.callNum == null ? '' : placeOwner.callNum}" >
                    <label class="RegistLabel"> 업종 </label>
                    <div style="width : 98%; height : 36px; margin-left : 5px;">
                        <label>
                            <input type="radio" name="category" value="음식점"  th:checked="${placeOwner?.storeCategory == '음식점'}"/>
                            <span>음식점</span>
                        </label>
                        <label>
                            <input type="radio" name="category" value="카페"  th:checked="${placeOwner?.storeCategory == '카페'}"/>
                            <span>카페</span>
                        </label>
                        <label>
                            <input type="radio" name="category" value="술집"  th:checked="${placeOwner?.storeCategory == '술집'}"/>
                            <span>술집</span>
                        </label>
                    </div>
                    <button class="BasicInfoSave" id="BasicInfoSave" type="submit" style="margin-left : 85%;"
                            onclick="doJoin(document.getElementById('info'))">저장
                    </button>
                    <input type="hidden" id="placeOwnerId" th:value="${placeOwner?.Id == null ? '' : placeOwner.Id}">
                </div>
            </form>

            <div class="RegistTitle" style="margin : 50px;">
                <a style="font-size : 25px; font-weight : bold; margin-bottom : 10px;">추가 정보</a>
            </div>
            <div class="RegistAddContent">
                <label class="RegistLabel"> 영업시간 </label>
                <nav th:replace="~{MapRegistOpentime :: navbarFragment}"></nav>
                <label class="RegistLabel"> 웹사이트 </label>
                <input type="text" class="RegistText" id="webSite" placeholder="웹사이트주소를 작성해주세요.">
                <label class="RegistLabel"> 메뉴 </label>
                <form id="menu" name="frm" style="display : flex;" method="post" action="/place/map/regist/action"
                      enctype="multipart/form-data">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <img id="preview" src="/noimage.png" style="max-width: 150px; max-height: 150px;">
                    <div class="MenuDet" style="margin-left : 20px; margin-top : 12px;">
                        <div style="margin : 7px;">
                            <label class="MenuLabel"> 메뉴 이름 </label>
                            <input type="text" id="name" class="MenuText"
                                   style="margin-top : -16px; margin-left : 10px;" placeholder="메뉴 이름을 작성해주세요.">
                        </div>
                        <div style="margin : 7px;">
                            <label class="MenuLabel"> 메뉴 가격 </label>
                            <input type="text" id="price" class="MenuText" onkeyup="inputNumberFormat(this)"
                                   style="margin-top : -16px; margin-left : 10px;" maxlength="8" placeholder="메뉴 가격을 작성해주세요.">
                        </div>
                        <div>
                            <input type="file" name="file" style="width : 72%;"
                                   accept="image/png, image/jpeg, image/jpg" onchange="previewImage(this)">
                            <Button type="submit" class="MenuInfoSave">메뉴 등록</Button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1f6119cdfa6fe0122000dfaa0c837e0e&libraries=services"></script>
    <!-- 카카오지도 키워드 검색  -->
    <script th:inline="javascript">

        function doJoin(form){
           form.action = "/place/map/regist/info/save";
           form.method = "post";
           form.submit();
        }


       function inputNumberFormat(obj) {
            obj.value = comma(uncomma(obj.value));
       }

       function comma(str) {
           str = String(str);
           return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
       }

       function uncomma(str) {
           str = String(str);
           return str.replace(/[^\d]+/g, '');
       }

      function previewImage(input) {
          var preview = document.getElementById('preview');
          var file = input.files[0];

          if (file) {
              var reader = new FileReader();

              reader.onload = function(e) {
                  preview.src = e.target.result;
              };
              reader.readAsDataURL(file);
          } else {
              alert("사진을 선택해주세요.");
          }
      }
      ////////////////////////////////////////////////  함수 구현  ////////////////////////////////////////////////
                var autoHypenPhone = function(str){
                    str = str.replace(/[^0-9]/g, '');
                    var tmp = '';

                    if( str.length < 4){
                        return str;
                    }else if(str.length < 7){
                        tmp += str.substr(0, 3);
                        tmp += '-';
                        tmp += str.substr(3);
                        return tmp;
                    }else if(str.length < 11){
                        tmp += str.substr(0, 3);
                        tmp += '-';
                        tmp += str.substr(3, 3);
                        tmp += '-';
                        tmp += str.substr(6);
                        return tmp;
                    }else{
                        tmp += str.substr(0, 3);
                        tmp += '-';
                        tmp += str.substr(3, 4);
                        tmp += '-';
                        tmp += str.substr(7);
                        return tmp;
                    }

                    return str;
                }


               var phoneNum = document.getElementById('phoneNum');

               phoneNum.onkeyup = function(){
                this.value = autoHypenPhone( this.value ) ;
               }

          ////////////////////////////////////////////////  함수 구현 끝  ///////////////////////////////////////////////////////


          ////////////////////////////////////////////////  주소 지도 구현 시작  ////////////////////////////////////////////////
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
                level: 5 // 지도의 확대 레벨
            };

            //지도를 미리 생성
            var map = new daum.maps.Map(mapContainer, mapOption);
            //주소-좌표 변환 객체를 생성
            var geocoder = new daum.maps.services.Geocoder();
            //마커를 미리 생성
            var marker = new daum.maps.Marker({
                position: new daum.maps.LatLng(37.537187, 127.005476),
                map: map
            });


            function address_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        var addr = data.address; // 최종 주소 변수

                        // 주소 정보를 해당 필드에 넣는다.
                        document.getElementById("address").value = addr;

                        // 주소로 상세 정보를 검색
                        geocoder.addressSearch(data.address, function(results, status) {
                            // 정상적으로 검색이 완료됐으면
                            if (status === daum.maps.services.Status.OK) {

                                var result = results[0]; //첫번째 결과의 값을 활용

                                // 해당 주소에 대한 좌표를 받아서
                                var coords = new daum.maps.LatLng(result.y, result.x);
                                // 지도를 보여준다.
                                map.relayout();
                                // 지도 중심을 변경한다.
                                map.setCenter(coords);
                                // 마커를 결과값으로 받은 위치로 옮긴다.
                                marker.setPosition(coords)

                                document.getElementById("latitude").value = result.y;
                                document.getElementById("longitude").value = result.x;

                            }
                        });
                    }
                }).open();
            }
           ////////////////////////////////////////////////  주소 지도 구현 끝  ////////////////////////////////////////////////



    </script>
</div>
</body>
</html>